@font-face {
  font-family: "iconfont"; /* Project id 3846992 */
  src: url('./fonts/iconfont.woff2') format('woff2'),
       url('./fonts/iconfont.woff') format('woff'),
       url('./fonts/iconfont.ttf') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-tupian1:before {
  content: "\e67f";
}

.icon-shipinbofang:before {
  content: "\e600";
}

.icon-tupian:before {
  content: "\e63a";
}

.icon-shipin:before {
  content: "\e60b";
}

.icon-shouqijianpan:before {
  content: "\e62d";
}

.icon-huitui:before {
  content: "\e6bb";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-check_bg_black:before {
  content: "\e640";
}

.icon-wancan:before {
  content: "\e6e7";
}

.icon-hanbao:before {
  content: "\e616";
}

.icon-pingguo:before {
  content: "\e629";
}

.icon-yundong-:before {
  content: "\ee31";
}

.icon-zaocan:before {
  content: "\f221";
}

