.record_container {
  padding: 20px;
  padding-bottom: 50px;
  background-color: #ddd;
  margin-bottom: 100px;
}

.record_container :global .wrapper {
  height: 200px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
}

.record_container :global .wrapper .goal_area {
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.record_container :global .wrapper .goal_area .goal {
  font-weight: bold;
  margin-right: 8px;
}

.record_container :global .wrapper .goal_area Text:nth-child(2) {
  font-size: 12Px;
  color: #ccc;
}

.record_container :global .wrapper .goal_area .right {
  display: flex;
  align-items: center;
}

.record_container :global .wrapper .goal_area .right .arrow {
  margin: 0px 12px;
  font-size: 18Px;
}

.record_container :global .wrapper .goal_area .right Text:nth-child(1) {
  font-size: 12Px;
  color: #ccc;
}

.record_container :global .wrapper .weight_preview {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
